.main{
    background: url('https://res.cloudinary.com/danhzm8qb/image/upload/v1652195291/vitter/Robot_knbdn5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: calc(90vh - 78.3px); */
    width: 100%;
}

.container-sections{
    background: linear-gradient(
        0deg,
        rgba(97, 183, 242, 0.8) 0%,
        rgba(255, 255, 255, 0.6) 48%,
        rgba(97, 183, 242, 0.8) 100%
      );
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
}

.main__section{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 4rem;
}

.main__section p{
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.5rem;
    margin: 0;
    text-align: center;
}

.change-letter{
    font-size: 5rem;
    font-family: 'Allura', cursive;
}

.second-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
}

.second-section p{
    font-size: 2.3rem;
    padding: 1rem;
    text-align: center;
}

.second-section__picture{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.second-section__picture img{
    border-radius: 2rem;
    width: 300px;
}

.btn-create-map{
    background-color: black;
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 4rem;
    margin-bottom: 6rem;
}
.btn-create-map:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: .7s;
}

