:root {
    --main-color: rgba(0, 121, 202, 0.8);
}

.header {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-responsive {
    display: flex;
    width: 100%;
}

.container-responsive .iconBar {
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    margin: 1rem;
    padding: .5rem 1rem;
}

.container-responsive .iconBar:hover {
    background-color: rgba(255, 255, 255, 0.527);
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: .7s;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.nav ul li {
    text-align: center;
}

.item-menu {
    color: white;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.5rem;
    text-decoration: none;
    box-shadow: 1px 1px 1px white;
}

.home {
    border-top: 1px solid white;
}

.item-menu:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    transition: .7s;
}

.nav-normal {
    display: flex;
    width: 100%;
}

.container-logo-normal{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
}

.container-logo-normal img{
    width: 80px;
}

.container-items{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.container-items ul{
    display: flex;
    list-style-type: none;
}

.container-items li{
    padding: 1rem;
}

.item-menu-normal{
    border-radius: 1.5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .5rem 2rem;
    text-decoration: none;
}

.item-menu-normal:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    transition: .7s;
}

.pop-up__register,.pop-up__login, .pop-up__contact,.pop-up__reset{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(97, 117, 212, 0.9);
    z-index: 100;
    bottom: 125%;
}

@media screen and (min-width: 1050px) {
    .container-responsive {
        display: none;
    }
    .nav {
        display: none;
    }
}
@media screen and (max-width: 1050px) {
    .nav-normal {
        display: none;
    }
}