.container-main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-close{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container-close .icon-close{
    padding: .5rem 1rem;
    margin: 1rem;
    font-size: 2rem;
}

.container-close .icon-close:hover{
    background-color: brown;
    border-radius: 1rem;
    transition: .5s;
    cursor: pointer;
}

.container-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.container-icon .icon{
    font-size: 6rem;
    color: black;
}

.container-icon h1{
    text-align: center;
}

.container-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.container-form input{
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px gray;
    font-size: 1.6rem;
    padding: .7rem;
    max-width: 600px;
    margin: .5rem 0;
    text-align: center;
    width: 100%;
}

.form-item{
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 0;
    text-decoration: none;
}

.form-item:hover{
    text-decoration: underline;
}

.btn-register,.btn-login{
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: .5rem 2rem;
    margin-bottom: 3rem;
}

.btn-register{
    background-color: black;
    color: white;
}

.btn-login{
    background-color: white;
    color: black;
}

.btn-item{
    text-decoration: none;
    color: black;
}

.btn-item-login{
    text-decoration: none;
    color: white;
}

.btn-register:hover, .btn-login:hover{
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: .7s;
}

.container-login{
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(97, 183, 242, 0.8) 0%,
        rgba(15, 71, 223, 0.6) 48%,
        rgba(97, 183, 242, 0.8) 100%
    );
    display: flex;
    flex-direction: column;
}

.error{
    background-color: rgb(209, 97, 97);
    border-radius: 2rem;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem;
    text-align: center;
    width: 50%;
}
