.container-terms{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}
.container-terms p, .container-terms ul{
    font-size: 1.4rem;
}